{% extends 'base.html' %}

{% block title %}{{ product_title }} - Price{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <!-- Product Title -->
            <h1>{{ product_title }}</h1>
            <!-- Product Image -->
            <img src="{{ product_image }}" class="img-fluid" alt="Product Image">
            <!-- Product Description -->
            <p>{{ product_description }}</p>
        </div>
        <div class="col-md-6">
            <!-- Price Information -->
            <h2>Prices</h2>
            <ul class="list-group">
                {% for price, domain in data %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ price }}
                    <span class="badge badge-primary badge-pill">{{ domain }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
