{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %}Price {% endblock %}</h1> -->
    <div class="px-4 py-5 my-5 text-center">
        <!-- <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="display-5 fw-bold">Price Comparator System</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
          <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
          </div> -->
        </div>
      </div>
      <div class="input-group mb-3">
        <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
      
      </div>
      <section >
        <div class="container py-5">
          <div class="row">
            {% for product in data %}
            <a href="/product/{{product[0]}}">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  <p class="lead mb-0">Today's Combo Offer</p>
                  <div
                    class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                    style="width: 35px; height: 35px;">
                    <p class="text-white mb-0 small">x4</p>
                  </div>
                </div>
                <img src="{{ product[2] }}"
                  class="card-img-top" alt="Laptop" />
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
                    <!-- <p class="small text-danger"><s>$1099</s></p> -->
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{ product[1] }}</h5>
                    <!-- <h5 class="text-dark mb-0">$999</h5> -->
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <!-- <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p> -->
                    <div class="ms-auto text-warning">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
          </div>
        </div>
      </section>
{% endblock %}